@import "./variables";

.comic__text__modal {
  background-color: $primary_clr;
  color: white;
  width: 400px;
  min-height: 300px;
  max-width: 90vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: $borderRadius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  box-shadow: $modalShadow;
  z-index: 100;
  overflow: hidden;
}
.comic__text__modal__title {
  height: 40px;
  background-color: $accent_clr;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comic__text__modal__content {
  flex: 1;
  width: 100%;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}
.comic__text__modal__description {
  text-align: center;
  font-size: 12px;
  padding: 20px;
}

.comic__text__modal__btns {
  display: flex;
  gap: 10px;
  height: 50px;
  align-items: center;
  padding: 10px;
  justify-content: flex-end;
  & > button {
    @include button;
    @include styled_button;
  }

  & > button:nth-child(1) {
    @include styled_button($bg_grey, black);
  }
}

.comic__text__modal__textarea {
  flex: 1;
  border-radius: $borderRadius;
  outline: none;
  border: none;
  resize: none;
  padding: 10px;
}
