@import "./variables";

.comic__page__canvas {
  width: 96%;
  max-width: 480px;
  position: relative;
  background-color: $slide_bg;
  overflow: hidden;
  border-radius: $borderRadius;
  box-shadow: $paperShadow;
}

.comic__page__canvas::before {
  content: "";
  display: block;
  padding-top: 100%; /* This value is the aspect ratio (height/width) as a percentage */
}

.comic__page__canvas__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 768px) {
  .comic__page__canvas {
    width: min(
      98%,
      calc(100vh - $navbar_height - $bottom_scroller_height - 50px)
    );
  }
}
