@import "./variables";

.comic__text__modal {
  background-color: $primary_clr;
  color: white;
  width: 400px;
  min-height: 300px;
  max-width: 90vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 15px;
  border-radius: $borderRadius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  box-shadow: $modalShadow;
  z-index: 100;
}

.comic__text__modal_close_btn {
  @include button;
  position: absolute;
  top: 10px;
  right: 10px;
}

.comic__text__modal__textarea {
  flex: 1;
  border-radius: $borderRadius;
  outline: none;
  border: none;
  resize: none;
  padding: 10px;
}

.comic__text__modal__btn {
  & > button {
    @include button;
    float: right;
    background-color: $create_btn;
    color: $primary_text_clr;
    align-self: flex-end;
    &:hover {
      background-color: $primary_text_clr;
      color: $create_btn;
    }
  }
}
