@import "./variables";

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: $primary_clr;
  color: white;
}

.navbar__content__left {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.navbar__logo {
  width: 30x;
  height: 30px;
  overflow: hidden;
  & > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.navbar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: $navbar_height;
}

.navbar__content__right {
  display: flex;
  gap: 20px;
}

.navbar__export__btn {
  @include button;
  @include styled_button;
  display: flex;
  align-items: center;
}

.comic__creator {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  background-color: $bg_grey;
}

.comic__creator_main_content {
  flex: 1;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.comic__page__sideview {
  height: calc(100vh - $navbar_height);
  width: $side_scroller_width;
  overflow-y: auto;
  border-right: 1px solid #ddd;
  padding: 10px;
}

.comic__page__main__canvas {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px;
}
.comic__page__main__canvas__id {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #999;
  font-size: 14px;
}
.comic__creator__generate__btn {
  @include button(10px, 50%);
  position: absolute;
  bottom: 30px;
  right: 40px;
  height: 50px;
  width: 50px;
  @include styled_button;
}

@media only screen and (max-width: 768px) {
  .comic__creator_main_content {
    flex-direction: column-reverse;
    gap: 10px;
  }

  .comic__page__sideview {
    height: $bottom_scroller_height;
    flex-shrink: 0;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border: none;
  }
}
